btop/
cava/
Code/
composer/
dconf/
discord/
go/
gtk*/
heroic/
hydralauncher/
mozilla/
nautilus/
nwg-look/
obs-studio/
pulse/
pupgui/
qtvirtualkeyboard/
rofiRessources/
systemd/
unity3d/
vlc/
xsettingsd/
yay/

mimeapps.list
pavucontrol.ini
user-dirs.*
